body{
    background-color: #f1efe0;
}
.center{
    margin: 0px auto;
    text-align: center;
    width: 700px;
    font-family: Arial;
}
.secao-intro h2{
    color:#e08c34
}
hr{
    border:1px solid #e08c34
}
a{
    color:#4d4433;
    margin: 0px 7px;
    font-size: 18px;
}
.secao-intro .logo{
    width: 200px;
}
.secao-intro img{
    width: 700px;
}
.secao-produtos{
    width: 700px;
    background-color:#e08c34 ;
    color:white;
}
.secao-produtos img{
    width: 400px;
    padding-bottom: 10px;
}
.secao-produtos p{
    margin: 0px auto;
    width: 515px;
    padding-bottom: 10px;
}
.secao-produtos h3{
    padding-top: 30px;
    font-size: 23px;
}
.secao-contato{
    line-height: 35px;
}
.secao-contato span{
    font-weight: bold;
}