body{
    background-image: url(img/fundo-floresta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div {
    text-align: center;
    margin: 0px auto;
    background-color: white;
    width: 700px;

}
h1, h2, h3, p{
    width: 650px;
    text-align: left;
    margin: 8px auto;

}
img{
    width: 650px;
    margin: 10px auto;
}
