body{
    background-color: black;
}
div{
    color: red;
    border:2px solid red;
    margin: 0px auto;
    width: 500px;
    height: 590px;
    padding: 0px 50px;
    text-align: center;
    font-family: verdana;
    font-size:18px
}
img{
    margin: 15px 50px;
    width: 350px;
}
a{
    text-decoration: none;
    color:white;
    background-color: red;
    padding: 10px 35px;
}
h1{
    font-size: 28px;
    font-family: verdana;
    margin-bottom: 30px;
}
p{
    margin-bottom: 70px;
}
