body{
    margin: 0px;
    font-family: Verdana;
}
.secao-limitada{
    width: 90%;
    margin: 0px auto;
    padding: 10px 0px;
}
.secao-topo{
    background-color: #24b4ec;
    text-align: center;
    padding: 20px 0px;
}
.secao-topo a{
    color:white;
    margin: 0px auto;
    padding:0px 10px
}
.imagem-topo{ 
    width: 100%;
}
.secao-limitada img{
    width: 100%;
}
.secao-contato{
    margin-bottom: 20px;
}
.secao-contato a{
    background-color: #24b4ec;
    color: white;
    padding: 10px;
}
