body{
    margin: 0px;
}
.secao{
    text-align: left;
}
.secao-topo{
    background-image: url(img/capa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;    
    padding: 30px;
    text-align: center;
    height: 700px;
}
.secao-topo h1{
    background-color: black;
    color: white;
    width: 350px;
    margin: 0px auto;
}
.secao-topo h2{
    background-color: red;
    color: white;
    width: 350px;
    margin: 0px auto;
}
.secao-conteudo{
    width: 700px;
    margin: 0px auto;
    line-height: 35px;
}
.secao-conteudo img{
    margin-bottom: 30px;
}
.imagem{
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
    margin: 0px auto;
    height: 200px;
}
.secao-sinopse{
    width: 700px;
    margin: 0px auto;
}
.secao-sinopse .texto-destaque{
    background-color: red;
    color: white;
    padding: 10px;
    width: 150px;
}