body{
    font-family: arial;
}
.secao-limitada{
    width: 60%;
    margin: 0px auto;
}
h1{
    text-align: center;
    color: #f71c04;
}
.numero{
    position: absolute;
    top: -40px;
    left: -20px;
    background-color: #f71c04;
    color: #ff9900;
    width:50px;
    height:40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 30px;
}
.secao-conteudo{
    position: relative;
    border: 2px solid #f71c04;
    padding-bottom: 50px ;
    margin: 50px auto;
}
.secao-conteudo .secao-preco{
    position: absolute;
    right: 8px;
    bottom: -35px;
    background-color: #f71c04;
    color: #ff9900;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}
.nome-comida{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
}
.ingredientes{
    margin: 30px 30px;
    font-size: 20px;
}