div{
    text-align: center;
    margin: 0px auto;
    font-family: arial;
}
.introducao{
    background-color: #dce0e1;

}
.logo{
    background-color: white;
    margin-top: 10px;
}
.fundo-azul{
    background-color: #0893d9;
}
.texto-branco{
    color:white;
}
h3{
    font-weight:bold;
}
.font-azul{
    color:#0893d9;
}
.idioma{
    width:50px;
    margin-top: 15px;
}
p{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}