body{
    margin: 0px;
}
.topo{
    background-color: #644c2c;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-family: Arial;
    margin: 0px auto;
    position: fixed;
}
.topo img{
    margin-left: 15%;
    width:5%;   
}
.topo .links a{    
    font-weight: bold;
    margin:0px 10px;
    color: #c4a47c;
    text-decoration: none;
    text-shadow: 4px 4px 2px black;
}
.topo .links{ 
    padding-top: 25px;
    margin-left: 40%;
}
.rodape{
    text-align: center;
    color: white;
    background-color:black;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial;
    margin: 0px auto;
    padding: 5px 0px;
    position: relative;
}
.imagem-banner{
    background-image: url(img/parallax-imagem1.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 1px;
    height: 100vh;
}
.imagens{
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.imagem-banner h1{
    color:white;
    text-align: center;
    padding-top:240px;
    font-size: 68px;
}
.secao-conteudo h2{   
    font-family: Arial;
    color: #c4a47c;
    text-align: center;
}
.secao-conteudo{
    margin: 0px auto;
    width: 1024px;
    text-align: center;
    padding: 20px 20px;
    color: #666;
}
.imagem-conteudo{
    background-image: url(img/parallax-imagem2.jpg);
    padding: 100px 0px;
}
.imagem-conteudo2{
    background-image: url(img/parallax-imagem3.jpg);
    padding: 100px 0px;
}
.imagem-conteudo h3,.imagem-conteudo2  h3{
    text-align: center;
    color: white;
    background-color: #604829;
    width: 300px;
    margin: 0px auto;
    padding: 2px;
}
.secao-endereco{
    font-family: Arial;
    background-image: url(img/parallax-imagem4.png);
    height: 100vh ;  
    text-align: center;
    padding: 50px;
}
.secao-endereco h3{
    margin: 0px auto;
    background-color: #604829;
    color: white;
    padding: 10px;
    width: 350px;
}
iframe{
    width: 60%;
    height: 400px;
    margin: 30px auto;
}
.enderecoContatos{
    font-size: 11px;
    margin: 0px auto;
    background-color: #604829;
    color: white;
    width: 350px;
    padding: 10px;
    text-shadow: 0px 4px 5px black;
}
.secao-horarios{
    background-image: url(img/cafeteria.jpg);
    text-align: center;
    color: white;
    height: 100vh;
    font-family: Arial;
}
.secao-horarios .horarios{
    padding:100px 0px;
}
.lista li .linha{
    width: 70%;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 15%;
    bottom: 50%;
}
.lista li{
    position: relative;
    width: 70%;
    margin: 0px auto;
    text-align: left;
}
.lista li p{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0px;
}
.texto-destaque{
    color: #bd8025;
    font-weight: bold;
}
.seta{
    position: absolute;
    right: 50px;
    bottom: 90px;
    width: 60px;
    height: 60px;
}