body{
    margin: 0px auto;
}
.secao-topo .link{
    background-color: #cc040c;
    width: 100%;
    padding: 10px;    
    text-align: center;
    box-sizing: border-box;
}
.secao-topo a{
    color: white;
    padding: 0px 10px;
}
.secao-topo img{
    width: 100%;
    box-sizing: border-box;
    border: 17px solid #a4040c;
}
.secao-conteudo img{
    width: 100%;
    border: 17px solid #a4040c;
    box-sizing: border-box
}
.secao-contato{
    padding-bottom: 30px;
}
.secao-contato a{
    background-color: #cc040c;
    color: white;
    padding: 10px;
    margin:0px 2px 0px 0px;
}
.secao-limitada{
    width: 70%;
    margin:0px auto
}